

@{
    ViewBag.Title = "NewCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

   <form method="post">
    <h2>New Category</h2>
    <br />
    <h3>Category Name</h3>
    <input type="text" class="form-control" name="Name"/>
    <br />
    <button class="btn btn-info">Save</button>
   </form>